.cadastros {
    display: inline-block;
    margin: 5px 5px 10px 5px; 
    padding: 10px;
    border-radius: 5px;
    width: 50%; 
    border: 1px solid rgb(201, 201, 201);
}

label {
    font-weight: bold;
    display: inline-block;
    width: auto;
    text-align: right; 
}

#container {
    text-align: center;

}

#submit-button {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10%;
    border: 1px solid rgb(0, 0, 0);
    font-size: 17px;
}
